/* General styles and imports */

@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700&display=swap');

/* Base styles to hide both menus initially */
.topnav {
  display: none; /* Mobile menu */
}

.navbar {
  display: none; /* Desktop menu */
}

body {
  background-color: #F3F7EC;
  color: #5f615a;
  font-family: 'Hanuman', serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

header {
  background-color: #F3F7EC;
  color: white;
  padding: 15px 0;
  text-align: left;
}

.about-color {
  color: #006989;
}

.projects-color {
  color: #6AA273;
}

.blog-color {
  color: #CA7569;
}

.cursor {
  display: inline-block;
  font-weight: bold;
  animation: blink 1s step-start infinite;
}


/* TOC Styling */
.toc {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  cursor: pointer; /* Indicate it's clickable */
}

.toc h2 {
  color: #6AA273;
  padding: 10px 15px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
}

.toc ul {
  line-height: 2;
  margin: 0;
  list-style-type: none;
  display: none; /* Hidden by default */
}

.toc.expanded {
  max-height: 100%; /* Adjust to allow for full content display */
}

.toc.expanded ul {
  display: block; /* Show list when expanded */
}

.fa-chevron-down {
  transition: transform 0.3s;
}

.toc.expanded .fa-chevron-down {
  transform: rotate(180deg); /* Rotate arrow when expanded */
}


@keyframes blink {
  50% {
      opacity: 0;
  }
}

/* Mobile Menu: Show only on screens smaller than 768px */
@media only screen and (max-width: 854px) {
  .topnav {
    display: block; /* Show mobile menu */
    overflow: hidden;
    background-color: #868980;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the topnav is above other elements */
    transition: top 0.3s;
  }

  .fa-xmark {
    font-size: 30px;  /* Adjust this value to your preferred size */
  }

  body {
    margin-top: 118px; /* Adjust this value based on the height of your topnav */
  }
  
  .navbar {
    display: none; /* Hide desktop menu */
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    margin-top: 3px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  }

  /* When the menu is visible */
  .topnav #myLinks.show {
      max-height: 500px; /* Adjust this value as needed */
      opacity: 1;
  }

  /* Style navigation menu links */
  .topnav a {
    color: #F3F7EC;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .brand-name  {
    color: #F3F7EC;
    text-decoration: none;
    margin-top: 5px;
    font-size: 24px !important;
    display: block;
    font-weight: bold;
    text-align: center;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: #868980;
    margin-top: 5px;
    font-size: 24px; /* Adjust the font-size to make the icon larger */
    position: absolute;
    right: 10px;
    top: 0;
    color: #F3F7EC; /* Ensure the icon is visible */
  }

  .topnav a.icon i {
    color: #F3F7EC; /* Set the color of the icon */
  }

  /* Style the active link (or home/logo) */
  .topnav a.active {
    background-color: #F3F7EC;
    color: #868980;
  }

  /* content style */
  .container {
    padding: 20px; /* Apply 15px padding to all sides on mobile */
    margin-top: 50px; /* Maintain the margin-top */
    box-sizing: border-box; /* Include padding in width calculation */
    overflow-x: hidden; /* Prevent horizontal overflow */
    width: 100%; /* Ensure container doesn't exceed screen width */
  }

  .container-intro {
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Ensure content flows vertically */
    justify-content: center; /* Center vertically */
    box-sizing: border-box; /* Ensures padding is included in height calculation */
    margin-bottom: -50px;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
    overflow-x: hidden; /* Prevent horizontal overflow */
    width: 100%; /* Ensure container doesn't exceed screen width */
    margin-top: -10vh; /* Use negative margin to move content upwards */
  }

  @media (max-height: 500px) {
    .container-intro {
      min-height: auto; /* Let the height be determined by content */
      height: auto; /* Default height based on content size */
      transform: translateY(-5%); /* Reduce or remove upward movement */
      margin-top: 20px; /* Add some margin-top to avoid overlapping */
    }
  }

  main p {
      margin-bottom: 20px; /* Add space below paragraphs */
  }

  footer {
      background-color: #F3F7EC;
      color: #868980;
      text-align: center;
      padding: 10px 0;
      margin-top: 20px;
  }

  h1 {
      margin-top: 2%; /* Increase space above the header */
  }

  .h1-project {
    margin-top: -20px;
  }

  h2 {
      margin-top: 40px; /* Add space above h2 headers */
      margin-bottom: 20px; /* Add space below h2 headers */
  }

  h3 {
      margin-top: 30px; /* Add space above h3 headers */
      margin-bottom: 15px; /* Add space below h3 headers */
  }
  


  /* breadcrumb navigation */
  .breadcrumb {
    background-color: #FFFFFF;
    padding: 0 20px;
    font-size: 14px;
  }

  .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .breadcrumb ul li {
    margin-right: 10px;
    color: #555;
  }

  .breadcrumb ul li a {
    text-decoration: none;
    color: #006989;
  }

  .breadcrumb ul li a:hover {
    text-decoration: underline;
  }

  .breadcrumb ul li:after {
    content: '>';
    margin-left: 10px;
    color: #ccc;
  }

  .breadcrumb ul li:last-child:after {
    content: ''; /* Remove the arrow after the last item */
  }

  .breadcrumb ul li:last-child {
    color: #555; /* Highlight the current page */
    font-weight: bold;
  }

  /* Content Wrapper Styling */
  .project-wrapper {
    background-color: #FFFFFF; /* White background for the content */
    padding: 50px 0; /* Adjust the padding as needed */
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for some depth */
    margin-top: 50px; /* Adjust this value to control the space at the top */
  }

  .project-wrapper p,
  .project-wrapper li,
  .project-wrapper span,
  .project-wrapper blockquote {
    color: #2f2f2f !important; /* Set text color to black for all non-header elements within content-wrapper */
  }

  /* Square buttons */
  .custom-button {
    position: relative;
    display: block;
    width: calc(90vw - 20px); /* Use viewport width minus margin for responsiveness */
    max-width: calc(400px - 20px); /* Ensure maximum width allows for margin */
    height: calc(90vw - 20px); /* Match height to width for a square shape */
    max-height: calc(400px - 20px); /* Ensure the height does not exceed the max-width */
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    background-color: #FFFFFF;
  }

  .custom-button-container {
    display: flex;
    justify-content: space-between; /* Distributes space between buttons */
    flex-wrap: wrap; /* Allows buttons to wrap to the next line */
    gap: 10px; /* Adds space between buttons */
    padding: 10px; /* Adds padding around the container */  
  }

  .custom-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-button .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .custom-button .button-text {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    font-size: 14px;
    font-weight: bold;
    color: #5f615a;
    box-sizing: border-box;
  }

  .custom-button img.thumbnail {
    position: absolute; /* Position the image absolutely within the button */
    top: 50%; /* Center the image vertically */
    transform: translate(-50%, -50%); /* Center the image exactly */
    height: 50%; /* Adjust the height as needed relative to the button size */
    width: auto; /* Maintain the aspect ratio */
    object-fit: cover;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-button .description {
    position: absolute;
    top: 30px; /* Push below the title */
    left: 0;
    width: 100%;
    height: calc(100% - 40px); /* Adjust height to fit below the title */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for readability */
    color: #5f615a;
    font-size: 14px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    box-sizing: border-box;
  }

  .custom-button:hover img.thumbnail {
    opacity: 0; /* Hide the image on hover */
  }

  .custom-button:hover .description {
    opacity: 1; /* Show the description on hover */
  }


  .rectangular-button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px;
    padding: 10px;
  }

  .rectangular-button {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    background-color: #fff; /* Optional: change the background color */
  }

  .rectangular-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .rectangular-button .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #5f615a;
  }

  .rectangular-button .description {
    font-size: 14px;
    color: #5f615a;
  }

}


/* Desktop Menu: Show only on screens larger than 768px */
@media only screen and (min-width: 855px) {
  .topnav {
    display: none; /* Hide mobile menu */
  }

  .navbar {
    display: flex; /* Show desktop menu */
  }

  /* General styles for the navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #868980;
    padding: 10px 10px 0px 20px;
    position: sticky;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    margin-right: 130px; /* Add some space between the brand and the links */
  }

  .brand-name {
    color: #F3F7EC;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }

  .nav-icons {
    display: flex;
    gap: 10px; /* Add some space between the icons */
  }

  .navbar .nav-link {
    color: #F3F7EC;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .navbar .nav-link i {
    color: #F3F7EC; /* Ensure the icons have the same color as the links */
  }

  .navbar .nav-link:hover {
    background-color: #5f615a;
    border-radius: 5px 5px 0px 0px;
    color: #F3F7EC; /* Ensure the text color remains visible on hover */
  }

  .navbar .nav-link.current {
    background-color: #F3F7EC;
    border-radius: 5px 5px 0px 0px;
    color: #868980;
    height: 100%; /* Ensure it takes up the full height of the navbar */
  }

  .navbar .nav-link.current i {
    color: #868980;
  }

  /* Initially hide the mobile-specific elements */
  .menu-button,
  .side-menu {
    display: none;
  }

  /* Show the desktop navigation by default */
  .nav-left .nav-links,
  .nav-icons {
    display: flex;
  }


  /* Separate hover effect for icons */
  .nav-icons .nav-link {
      padding: 10px; /* Adjust padding for icons */
  }

  .nav-icons .nav-link:hover {
      background-color: #5f615a; /* Different background color on hover */
      border-radius: 50%; /* Make the hover effect circular */
      color: #fff; /* Change text color on hover */
  }

  .nav-icons .nav-link:hover i {
      color: #fff; /* Ensure the icon color changes on hover */
  }

  .container {
    width: 55%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px; /* Increase space above the header */
    padding: 50px;
  }

  .container-intro {
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Ensure content flows vertically */
    justify-content: center; /* Center vertically */
    box-sizing: border-box; /* Ensures padding is included in height calculation */
    margin-bottom: -130px;
    width: 55%;
    max-width: 800px;
    margin: auto;
    margin-top: -10vh; /* Use negative margin to move content upwards */
  }

  main p {
      margin-bottom: 20px; /* Add space below paragraphs */
  }

  footer {
      background-color: #F3F7EC;
      color: #868980;
      text-align: center;
      padding: 10px 0;
      margin-top: 20px;
  }

  section {
      margin-bottom: 50px; /* Add space below sections */
  }

  h1 {
      font-size: 2.5em;
      margin-top: 10%; /* Increase space above the header */
  }

  .h1-project {
    margin-top: -40px;
  }

  h2 {
      margin-top: 40px; /* Add space above h2 headers */
      margin-bottom: 20px; /* Add space below h2 headers */
  }

  h3 {
      margin-top: 30px; /* Add space above h3 headers */
      margin-bottom: 15px; /* Add space below h3 headers */
  }

  ul {
    list-style-type: circle;
  }

  /* breadcrumb navigation */
  .breadcrumb {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 330px;
  }

  .breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .breadcrumb ul li {
    margin-right: 10px;
    color: #555;
  }

  .breadcrumb ul li a {
    text-decoration: none;
    color: #006989;
  }

  .breadcrumb ul li a:hover {
    text-decoration: underline;
  }

  .breadcrumb ul li:after {
    content: '>';
    margin-left: 10px;
    color: #ccc;
  }

  .breadcrumb ul li:last-child:after {
    content: ''; /* Remove the arrow after the last item */
  }

  .breadcrumb ul li:last-child {
    color: #555; /* Highlight the current page */
    font-weight: bold;
  }

  /* Content Wrapper Styling */
  .project-wrapper {
    background-color: #FFFFFF; /* White background for the content */
    padding: 50px 0; /* Adjust the padding as needed */
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for some depth */
    margin-top: 50px; /* Adjust this value to control the space at the top */
    margin-left: -30px;
  }

  .project-wrapper p,
  .project-wrapper li,
  .project-wrapper span,
  .project-wrapper blockquote {
    color: #2f2f2f !important; /* Set text color to black for all non-header elements within content-wrapper */
  }


  .custom-button {
    position: relative;
    display: block;
    width: 380px; /* Ensure two buttons per row with space between */
    height: 300px; /* Fixed height to ensure square shape */
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    overflow: hidden; /* Hide overflow to ensure content doesn't spill out */
    margin-bottom: 20px; /* Space between buttons */
    background-color: #FFFFFF; /* Ensure background is white */
  }

  /* Square buttons */
  .custom-button-container {
  display: flex;
  justify-content: space-between; /* Distributes space between buttons */
  flex-wrap: wrap; /* Allows buttons to wrap to the next line */
  gap: 10px; /* Adds space between buttons */
  padding: 10px; /* Adds padding around the container */
  }

  .custom-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-button .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .custom-button .button-text {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    z-index: 1; /* Ensure text is above the image */
    font-size: 16px;
    font-weight: bold;
    color: #5f615a;
    box-sizing: border-box;
  }

  .custom-button img.thumbnail {
    position: absolute; /* Position the image absolutely within the button */
    top: 50%; /* Center the image vertically */
    transform: translate(-50%, -50%); /* Center the image exactly */
    height: 60%; /* Adjust the height as needed relative to the button size */
    width: auto; /* Maintain the aspect ratio */
    object-fit: cover;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-button .description {
    position: absolute;
    top: 30px; /* Push below the title */
    left: 0;
    width: 100%;
    height: calc(100% - 40px); /* Adjust height to fit below the title */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for readability */
    color: #5f615a;
    font-size: 14px;
    padding: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    box-sizing: border-box;
  }

  .custom-button:hover img.thumbnail {
    opacity: 0; /* Hide the image on hover */
  }

  .custom-button:hover .description {
    opacity: 1; /* Show the description on hover */
  }

  /* Styles for rectangular buttons */
  .rectangular-button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px;
    padding: 10px;
  }

  .rectangular-button {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    background-color: #fff; /* Optional: change the background color */
  }

  .rectangular-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .rectangular-button .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #5f615a;
  }

  .rectangular-button .description {
    font-size: 14px;
    color: #5f615a;
  }

}

.gallery {
  display: flex;
  gap: 20px; /* Adds space between images */
}

.gallery a {
  flex: 1;
  text-align: center;
}

.gallery img {
  width: 100%; /* Make the image fill its container */
  height: auto;
  border: 1px solid #ddd; /* Optional: Add border around images */
  border-radius: 4px; /* Optional: Add rounded corners */
}

/* Return to Top Button Styles */
.return-to-top {
  font-family: 'Hanuman', serif; /* Explicitly set font-family */
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust position to be exactly center horizontally */
  display: none; /* Hidden by default */
  background-color: #868980; /* Change to your preferred color */
  color: #F3F7EC;
  border: none;
  border-radius: 5px;
  padding: 15px 20px 10px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  z-index: 1000; /* Ensure it appears above other elements */
}

.return-to-top:hover {
  background-color: #5f615a; /* Darker shade on hover */
}

/* Center video */
.video-container {
  text-align: center; /* Center content horizontally */
}

video {
  display: block;
  margin: 0 auto; /* Horizontal centering */
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

/* Profile picture styling */
.profile-picture {
  float: left;
  width: 190px; /* Adjust the size as needed */
  height: 190px; /* Adjust the size as needed */
  margin-right: 20px; /* Space between image and text */
  border-radius: 50%; /* Make the image round */
  object-fit: cover; /* Ensure the image covers the entire area */
}

/* Conclusion */
.conclusion {
  color: #2f2f2f;
  border-left: 4px solid #6AA273; /* Blue color for the left border */
  padding: 10px 15px; /* Space inside the box */
  margin: 20px 0; /* Space outside the box */
  border-radius: 5px; /* Rounded corners */
}

.conclusion strong {
  color: #6AA273; /* Match the color of the border for the "Note:" text */
}

/* Quote */
.quote {
  color: #6AA273;
  border-left: 4px solid #6AA273; /* Blue color for the left border */
  padding: 10px 15px; /* Space inside the box */
  margin: 20px 0 20px 0; /* Space outside the box */
  border-radius: 5px; /* Rounded corners */
}

/* Note box */
.note {
  border-left: 4px solid #2d67a4; /* Blue color for the left border */
  background-color: #f2f2f2; /* Light gray background */
  padding: 10px 15px; /* Space inside the box */
  margin: 20px 0; /* Space outside the box */
  border-radius: 5px; /* Rounded corners */
}

.note strong {
  color: #2d67a4; /* Match the color of the border for the "Note:" text */
}

/* Important box */
.important {
  border-left: 4px solid #b68331; /* Blue color for the left border */
  background-color: #f2f2f2; /* Light gray background */
  padding: 10px 15px; /* Space inside the box */
  margin: 20px 0; /* Space outside the box */
  border-radius: 5px; /* Rounded corners */
}

.important strong {
  color: #b68331; /* Match the color of the border for the "Note:" text */
}


/* see also box */
.see-also {
  border-left: 4px solid #379340; /* Blue color for the left border */
  background-color: #f2f2f2; /* Light gray background */
  padding: 10px 15px; /* Space inside the box */
  margin: 20px 0; /* Space outside the box */
  border-radius: 5px; /* Rounded corners */
}

.see-also strong {
  color: #379340; /* Match the color of the border for the "Note:" text */
}


/* Fancybox gallery */
.fancybox-content {
  max-height: 90vh;  /* Ensure the content doesn't exceed the viewport height */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.thumbnail-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.thumbnail-image {
  max-width: 100%;
  height: auto;
}

.gallery-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-controls button {
  background-color: #FFFFFF;
  border: none;
  color: #868980;
  padding: 10px;
  font-size: 250%;
  cursor: pointer;
  border-radius: 50%; /* Makes the button circular */
  width: 60px; /* Ensure the button is square */
  height: 60px; /* Ensure the button is square */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  margin: 0 20px; /* Add horizontal space between buttons and thumbnail */
}

.gallery-controls button:hover {
  color: #F3F7EC;
  background-color: #868980;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #868980;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #41423e;
}