/* Hide the main section navigation */
.bd-sidebar {
    display: none;
}

/* Adjust the content to use full width */
.bd-main {
    margin-left: 0;
}

/* Ensure the "On This Page" is still visible */
.bd-toc-item {
    display: block;
}

/* _static/custom.css */
.navbar-nav .nav-item {
    margin: 0 !important; /* Remove any default margin */
    padding: 0 !important; /* Remove any default padding */
}

/* Custom styles for wrapped images */
.img.wrapped {
    float: left;
    width: auto; /* Ensure the image's width is auto */
    pointer-events: none; /* Make the image non-clickable */
}

.image-row {
    display: flex;
    justify-content: space-between;
}

.image-row img {
    max-width: 48%; /* Adjust the width as needed */
    height: auto;
}

.image-row-two {
    display: flex;
    justify-content: space-between;
}

.image-row-two img {
    max-width: 32%; /* Adjust the width as needed */
    height: auto;
}

/* Hide the custom navbar on mobile screens */
@media (max-width: 768px) {
    #navbar-main-custom {
        display: none;
    }
}

/* Show the custom navbar on desktop screens */
@media (min-width: 769px) {
    #navbar-main-custom {
        display: block;
    }
}
